@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #65a30d;
}

.dark {
  --color: red;
}

html {
  scroll-behavior: smooth;
}

.imgAbout {
  shape-outside: circle(50%);
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.shadow-drop-center:hover {
  animation: shadow-drop-center 0.4s linear both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 15px 0 var(--color);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
html {
  scrollbar-width: auto;
  scrollbar-color: #65a30d #111827 !important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #65a30d;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
